body{
    background-color: bisque;
}
#form{
    background-color: antiquewhite;
     width:25%;
     margin:120px auto;
     padding:50px;
     box-shadow: 10px 10px 5px rgb(82,11,77);
     border-radius: 6px;
}
#btn{
    color:white;
    background-color: blueviolet;
    padding: 10px;
    font-size: medium;
    border-radius: 10px ;
}
@media screen {
    #form{
        width:65%;
        padding:40px;
    }
}